navi { 
    color:#1E1114;
    color:#29161c;
    color:#492832;
    color:#693A47;
    color:#874A5B;
    color:#BE8896;
    color:#D0AAB5;
    color:#89864C;
    color:#D1CC73;
    color:#ede21f;
    color:#DBD9BD;
}
